asgiref==3.8.1
contourpy==1.1.1
cycler==0.12.1
Django==4.2.13
django-jazzmin==3.0.0
fonttools==4.53.0
greedypacker==0.4
importlib-resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.5.0
typing-extensions==4.12.1
zipp==3.19.1

reportlab~=4.2.0